/array
/arrow
/aysnchronous
/closures
/conditional statement
/datatypes
/Date and time
/ES6
/events
/functions
/HOF
/hoisting
/how to add
/IIFE
/input output methods
/javascript_practice
/loops
/numbers_math
/objects
/operator
/scope
/string
/Udemycourse
/Udemypractice
/variables